
  .gallery {
    vertical-align: middle;
    width: 100%;
    margin: 3px;
    border: 3px solid #717171;
  }
  
  /* container */
  .gallery_container {
    width: 100%;
    position: relative;
  }
  
  /* Next and prev buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    padding: 15px;
    color: white;
    font-size: 40px;
    user-select: none;
  }
  .prev{
    left: 10px;
  }
  .next {
    right: 10px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(88, 44, 44, 0.8);
  }
  
  /* Caption text in the middle */
  .text {
    color: #fcf5f5;
    font-size: 32px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  /* number of pictures  */
  .number {
    color: #fcf5f5;
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The points styles */
  .point {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: rgb(190, 168, 168);
    border-radius: 50%;
    display: inline-block;
  }
  
  .active, .point:hover {
    background-color: #717171;
  }
 